torch
torchvision
numpy
matplotlib
tqdm
scipy
scikit-learn
filelock
ray
tables
pyquaternion
natsort
requests
mysql-connector-python
pandas
fastdtw
lxml
networkx        
trimesh         
pycollada
pyrender
six
sphinx
sphinx_rtd_theme
sphinx-automodapi
rospkg
wheel
notebook
learn2learn
h5py